<%-include("navbar") -%>

<div id="index">
        <div class="container">
        <div class="row">
            <div class="col-xl-8 col-l">
                <div id="textBox">
                <img src="/image/name.png" id="storename">
                </div>
            <div class="thumb">
                <a href="lipsticks"><div class="thumbnail btn" onmouseover="imgSlider('/image/img1.png')" >
                        <p><img src="/image/thumbnail2.png">Click here<br>to browse lipsticks</p>                
                    </div></a>
                    <a href="masks"><div class="thumbnail btn" onmouseover="imgSlider('/image/img2.png')">
                        <p ><img src="/image/thumbnail1.jpg">Click here<br>to browse masks</p>
                    </div></a>
                </div>
            </div>
            <div class="col-xl-4 col-l imgsection">
            <div id="circle"></div>
            <div class="imgBox">
                <img src="/image/img1.png" class="indexPro">
            </div>
            </div>
        </div>
        </div>
        
        
    </section>  
    <script type="text/javascript">
        function imgSlider(anything){
            document.querySelector(".indexPro").src=anything; }
    </script>
</div>
</body>
<%-include("footer") -%>
