<%-include("header") -%>
<body id="masks">
    <section>
        <header>
            <a href="/" ><img id="logo" src="/image/logo.jpg"></a>
            <ul>
                <li><a href="/lipsticks">Lipsticks</a></li>
                <li><a href="/masks">Masks</a></li>
                <li><a href="/contacts">Contacts</a></li>
                <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </header>

</section>
</body>
<%-include("footer") -%>