@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

#circle {
    z-index:-1;
    position: absolute;
    bottom:0;
    right:0;
    width:800px;
    height:800px;
    background: #f47dbb;
    border-top-left-radius: 800px;
    border-right: 0;
    border-bottom: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.thumbnail{
    margin-top: 20%;
}
.thumbnail{
    width:250px;
    margin-left: 50px;
}

.thumbnail:hover{
    outline: 2px solid #f47dbb !important;
}

.thumbnail p {
    text-align: center;
}
.thumbnail img{
    float: left;
    width:50px;
    height: 80px;
}
.thumbnail a {
    text-decoration: none;
    color: black;
}
.imgBox {
    margin-top:10%;
    margin-left:30%;
    height: 30vh;
}
.indexPro {
    width:600px;
    height:650px;
    margin-top: 10px;
} 

.imgsection {
   display: hidden !important;
}

.navbar-brand {
    margin-left: 15px !important;
}
.nav-link{
    margin-right: 15px !important;
    color: #f47dbb !important;
    font-size: 1.25rem !important;
}
.nav-link:hover{
    color: #474747 !important;
}
.buysection{
    margin-top: 20px;
}

.lipsticks .carousel-item img {
    max-height: 600px;
}

.lipbtn {
    margin-top: 10px;
}

.buyForm input {
    margin-top:10px;
    max-width:100px;
    border-color: #f47dbb;
}

.buyForm label{
    margin-top:5px;
}
.buyForm select {
    border-color: #f47dbb;
    display: inline-block;
    background-color: #fff;
    width:20em;
    border-radius: 2px;
    box-shadow: 0 0 0px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 2.5em;
    text-align: left
}

.buyForm .lipbtn{
    position: relative;
    background: none;
    color: #f47dbb;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid #f47dbb;
    padding: 0.5em 1em;
}
.buyForm .lipbtn:before{
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.buyForm .lipbtn:after{
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.buyForm .lipbtn:hover:before{
    right: 80%;
}

.buyForm .lipbtn:hover:after{
    left: 80%;
}

.description .fa-truck{
    font-size: 25px;
}

.description .fa-times{
    font-size:35px;
    color: red;
 }

.cartTable {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top:30px !important;
    width:80% !important;

}

#cart {
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

#cart table td {
    height: 2em !important;
}

#cart table img {
    width: 100px;
}

#cart .clearfix {
    width:87%;
    text-align: right !important;
}

#cart .table-hover tbody tr:hover td {
    background: #fac4e7;
}

.cartAlert {
    margin-top: 200px;
}
.checkoutForm {
    margin-top: 20px !important;
    max-width:700px;
}

.productTable {
    margin-top:50px !important;
}

#orderPopup , #cartPopup{
    margin-top: 10% !important;
}

#formBtn{
    margin-top:10px; 
    background-color: #f47dbb;
    border:none;
}


@media (max-width: 700px){
    #textBox img{
        width: 350px;
    }
    .thumb {
        width: 100px;
    }
    .imgsection {
        display:none;
    }
}

@media (max-width: 1400px){
    #circle {
        display: none;
    }
}