@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

#circle {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    background: #f47dbb;
    clip-path: circle(400px at right);
}
#index {
    margin-top:20%;
}

#index section {
    position: relative;
    width: 100vw;
    height:100vh;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display:flex;
}
header ul li {
    list-style:none
}

header ul li a {
    display: inline-block;
    color: #f47dbb;
    font-weight: 500;
    margin-left:40px;
    text-decoration:none;
}

#index .content {
    position: relative;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

#index .content .textBox{
    position: relative;
    max-width:700px;
}

#index .content .textBox h2{
    margin-top:30px;
    color: #333;
    font-size: 3em;
    line-height:1.4em;
}

#index .content .textBox h2 span {
    font-family: 'Alex Brush', cursive;
    font-size:9rem;
    color: #f47dbb;
}

#index .content .textBox h4 {
    margin-left: 5.5rem;
}

#index .content .textBox h4 span{
    color: #f47dbb;
}

#index .content .textBox a {
    display: inline-block;
    margin-top:20px;
    margin-left: 80px;
    padding: 8px 20px;
    background:#f47dbb;
    color:black;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

#index .content .imgBox {
    width: 600px;
    display:flex;
    justify-content: flex-end;
    padding-right:80px;
    margin-top:50px;
}

#index .content .imgBox img {
    max-width:400px;
}


#index .thumb {
    position: absolute;
    left: 50%;
    bottom:20px;
    transform: translateX(-50%);
    display:flex;
}

#index .thumb li {
    list-style:none;
    display: inline-block;
    margin: 0 40px;
    cursor: pointer;
}
#index .thumb li:hover{
    transform: translateY(-15px)
}

#index .thumb li img {
    max-width: 60px;

}

#index .sci {
    position: absolute;
    top:50%;
    right:30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

#index .sci li {
    list-style:none;
}

#index .sci li i {
    margin-top: 20px;
    color:black;
    font-size: 2em;
}




.index .sci li a {
    display: inline-block;
    margin: 5px 0;
    transform:scale(0.6px);
    filter: invert(1)
}

.buysection{
    margin-top: 150px;
}

.lipsticks .carousel-item img {
    max-height: 600px;
}

.lipbtn {
    margin-top: 10px;
}

.buyForm input {
    margin-top:10px;
    max-width:100px;
    border-color: #f47dbb;
}

.buyForm label{
    margin-top:5px;
}
.buyForm select {
    border-color: #f47dbb;
    display: inline-block;
    background-color: #fff;
    width:20em;
    border-radius: 2px;
    box-shadow: 0 0 0px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 2.5em;
    text-align: left
}

.buyForm .lipbtn{
    position: relative;
    background: none;
    color: #f47dbb;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid #f47dbb;
    padding: 0.5em 1em;
}
.buyForm .lipbtn:before{
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.buyForm .lipbtn:after{
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #222;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

.buyForm .lipbtn:hover:before{
    right: 80%;
}

.buyForm .lipbtn:hover:after{
    left: 80%;
}

.description .fa-truck{
    font-size: 25px;
}

.description .fa-times{
    font-size:35px;
    color: red;
 }

.cartTable {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top:150px !important;
    width:80% !important;

}

#cart {
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

#cart table td {
    height: 2em !important;
}

#cart table img {
    width: 100px;
}

#cart .clearfix {
    width:87%;
    text-align: right !important;
}

#cart .table-hover tbody tr:hover td {
    background: #fac4e7;
}

.cartAlert {
    margin-top: 200px;
}
.checkoutForm {
    margin-top: 150px !important;
    max-width:700px;
}

.productTable {
    margin-top:50px !important;
}

#orderPopup , #cartPopup{
    margin-top: 10% !important;
}
